---
layout: cv
permalink: /CV/
title: "Daniel Rayneau-Kirkhope - Curriculum Vitae"
description: Short CV for Daniel Rayneau Kirkhope
shorttitle: CV

headerdata:
    url: http://rayneau-kirkhope.co.uk/
    email: daniel.rayneau-kirkhope@aalto.fi
    contacturl: http://rayneau-kirkhope.co.uk/contact/
    department: Aalto Science Insitute
    institution: Aalto University
    institutionaddr: 00076 Aalto, Finland
    pictureurl: /assets/images/Dan_poster.JPG


academicpositions:

-
    title: Academy of Finland Postdoctoral researcher
    institution: Aalto University
    institutioncity: Espoo, Finland
    institutionurl: http://aalto.fi
    department: Aalto Science Insitute, Department of Applied Physics
    departmenturl: http://asci.aalto.fi/en/
    start: 09.2015
    end: present
    notes:
        - "Project title: Hierarchical, bioinspired geometries for efficient, robust materials"
        - "Brief description: Research funding for independent and interdiscipliary research."
        - "Funding from Academy of Finland Postdoctoral grant, 237,966Euros funding"


-
    title: Aalto Science Fellow
    institution: Aalto University
    institutioncity: Espoo, Finland
    institutionurl: http://aalto.fi
    department: Aalto Science Insitute, School of Science
    departmenturl: http://asci.aalto.fi/en/
    start: 10.2012
    end: 10.2015
    notes:
        - "Brief description: Research fellowship for independent and interdiscipliary research. Supervision of sumer internship program. Pedagogical training."
        - "Exective committee members: Kimmo Kaski (Biomedical Engineering and Computer Science), Pekka Orponen (Computer Science), Mikko Alava (Physics), Alexander Engstrom (Mathematics), Juuso Valimaki (Economics)."

degrees:
    -
        degree: Ph.D.
        year: 2012
        month: 10
        subject: Physics
        institution: University of Nottingham
        notes: 
            - "Thesis title: Statistical physics of structural design"
            - "Advisor: Dr Yong Mao and Dr Robert S. Farr"
            - "Major subjects: Mechanics, deformation, statistical physics, fractal design, optimisation, finite element modelling, numerical methods"
            - "Funding: EPSRC"

    -
        degree: MSci
        year: 2008
        month: 6
        subject: Mathematical physics
        institution: University of Nottingham
        notes:
            - "Classification: First class (hons)"
            - "Research project: Random sequential adsoption, advisor: Dr Yong Mao"
            - "Secondry researh project: Quantum reflection, advisor: Prof. Fromhold"




industrypositions:
    -
        title: Teaching assistant
        employer: University of Nottingham
        employercity: Nottingham
        start: 2008
        end: 2011
    -
        title: UCAS open day physics representative
        employer: University of Nottingham
        employercity: Nottingham
        start: 2005
        end: 2011
    -
        title: Motocycle mechanic
        employer: Italia Moto
        employercity: Lincoln
        start: 2000
        end: 2008
    -
        title: Teaching assistant/councillor
        employer: Camp Northwood
        employercity: Remsen, New York
        start: 5.2006
        end: 8.2006


courses:
    -
        title: Computing for Physical Sciences
        credits: 10
        institution: University of Nottingham
        comment: Teaching assistant
        term: 2011, 2012

dissertationcommittees:
    -
        student: Excellent Student
        institution: Place
        department: Department
        thesistitle: Title
        year: 1234
bachelortheses:

    -
        student: Joan Lugora
        institution: Aalto University
        thesistitle: Creation of new algorithm for higher dimensional random sequential adsoption problems
        subject: Physics
        myrole: Supervisor
        year: 2014


    -
        student: Aaron Sonabend
        intitution: Aalto University
        thesistitle: 2-dimensional approximations for higher dimensional random sequential adsoption systems
        subject: Physics
        myrole: Supervisor
        year: 2013


    -
        student: David Neal
        institution: University of Nottingham
        thesistitle: Investigating the role of geometry in equine hoof
        subject: Physics/Veterinary Science
        myrole: Co-supervisor
        year: 2012


    -
        student: Guang Yang
        institution: University of Nottingham
        thesistitle: Imperfections in a 3-d hierarchical system optimised for compressive load
        subject: Physics
        myrole: Co-supervisor
        year: 2011



    -
        student: Rambir Singh
        institution: University of Nottingham
        thesistitle: Investigating the application of 3-d printing of hierarchical structures for compression bearing application
        subject: Engineering
        myrole: co-supervisor
        year: 2011
    -
        student: Fred Grillet
        institution: University of Nottingham
        thesistitle: 3-d printing of novel structures on microscale.
        subject: Engineering
        myrole: co-supervisor
        year: 2010
departmentalservice:
    -
        note: Aalto Science Institute serminar Co-organizer
        department: Aalto Science Institute
        institution: Aalto University
        year: 2013 - present
conferenceorganization:
    -
        event: Special session on Something Cool
        month: 1
        year: 2345
        myrole: Co-organizer
journalrefereeing:
    - Advances in Whatev.
conferencerefereeing:
    - Symposium on Stuff

---

<h1>Curriculum vitae: Daniel Rayneau-Kirkhope</h1>
<div class="cv-header">
    <img alt="Picture of Dan" class="picture" src="{{page.headerdata.pictureurl}}">
    <div class="address">
        <div class="department">{{page.headerdata.department}}</div>
        <div class="inst">{{page.headerdata.institution}}</div>
        <div class="instaddr">{{page.headerdata.institutionaddr}}</div>
    </div>
    <div class="contacts">
        <div class="email"><a href="mailto:{{page.headerdata.email}}">{{page.headerdata.email}}</a></div>
        <div class="homepage"><a href="{{page.headerdata.url}}">{{page.headerdata.url}}</a></div>
        <div class="contacturl"><a href="{{page.headerdata.contacturl}}">All contact data</a></div>
    </div>
</div>

<div class="cv-main">
<h2>Research interests</h2>
<div class="research-interests">
My current research focuses on structural optimisation and mechanics. Structural hierarchy is a fascinating and under-utilised area of structural optimisation that I dedicate much focus to. The interplay between geometry and mechanical function is another area in which I am actively involved.
</div>

<h2>Academic positions</h2>
<div class="academic-positions">
    {% for pos in page.academicpositions %}
    <div class="position">
        <div class="pos-yearplace">
            <span class="pos-year">{{pos.start}} – {% if pos.end %}{{pos.end}}{% else %}present{% endif %}:</span>
            <span class="pos-title">{{pos.title}}</span>,
            <span class="pos-inst">{% if pos.institutionurl %}<a href="{{pos.institutionurl}}">{{pos.institution}}</a>{% else %}{{pos.institution}}{% endif %}{% if pos.institutioncity %} <span class="pos-instcity">({{pos.institutioncity}})</span>{% endif %}
                </div>
        <div class="pos-dept">
            {% if pos.departmenturl %}
            <a href="{{pos.departmenturl}}">{{pos.department}}</a>
            {% else %}
            {{pos.department}}
            {% endif %}
        </div>
        {% if pos.notes %}
        {% for note in pos.notes %}
        <div class="pos-note">- <i>{{note}}</i></div>
        {% endfor %}
        {% endif %}
    </div>
    {% endfor %}
</div>


<h2>Education</h2>
<div class="education">
    {% for deg in page.degrees %}
        <div class="deg">
            <span class="deg-date">{% if deg.month %}{{deg.month}}.{% endif %}{{deg.year}}</span>:
            <span class="deg-title">{{deg.degree}}</span>,
            <span class="deg-subject">{{deg.subject}}</span>,
            <span class="deg-inst">{{deg.institution}}</span>.
            <div class="deg-note-wrapper">
                {% if deg.notes %}
                    {% for note in deg.notes %}
                    <div class="deg-note">- <i>{{note}}</i></div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>



<h2>Previous work experience</h2>
<div class="industry-positions">
    {% for pos in page.industrypositions %}
    <div class="position">
        <div class="pos-yearplace">
            <span class="pos-year">{{pos.start}}–{% if pos.end %}{{pos.end}}{% else %}present{% endif %}:</span>
            <span class="pos-title">{{pos.title}}</span>,
            <span class="pos-empl">{% if pos.employerurl %}<a href="{{pos.employerurl}}">{{pos.employer}}</a>{% else %}{{pos.employer}}{% endif %}{% if pos.employercity %}<span class="pos-emplcity"> ({{pos.employercity}})</span>{% endif %}
                </div>
        <!-- Right now this is dead code, don't run it-->
        <!-- {% if pos.notes %}
         {% for note in pos.notes %}
         <div class="pos-note">{{note}}</div>
         {% endfor %}
         {% endif %} -->
    </div>
    {% endfor %}
</div>

<!--Add when achieved funding!-->
<!--<h2>Funding</h2>
<div class="funding-wrapper">
    {% for f in page.funding %}
        <div class="funding-item">
            <div class="instrument-year">
                <span class="funding-year">{{f.year}}:</span>
                <span class="instrument">{{f.instrument}}</span>
                {% if f.title %}<span class="funding-title">{{f.title}}</span>{% endif %}
                {% if f.award %}({{f.award}}){% endif %}
            </div>
            <div class="funding-item-notes">
                {% for note in f.notes %}
                    <div class="funding-note">
                        {{note}}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>-->

<h2>Publications</h2>
<div class="publications">
    {% include journalpapers.html %}
    {% include popularscience.html %}
    {% include preprints.html %}
</div>

 <!-- <h2>Teaching</h2>
<div class="teaching">
    <h2>Courses</h2>
    <div class="courses-wrapper">
        {% for course in page.courses %}
            <div class="course">
                <div class="course-yearname">
                    <span class="course-term">{{course.term}}:</span>
                    <span class="course-title">{{course.title}}</span>
                    {% if course.credits %}<span class="course-crhr">({{course.credits}} cr)</span>{% elsif course.hours %}<span class="course-crhr">({{course.hours}} hr)</span>{% endif %}
                </div>
                <div class="course-instcomment">
                    <span class="course-inst">{{course.institution}}</span>{% if course.comment %}, <span class="course-comment">{{course.comment}}</span>{% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    
  <h2>Seminars</h2>
    <div class="seminars-wrapper">
        {% for sem in page.seminars %}
            <div class="seminar">
                <div class="seminar-yearname">
                    <span class="seminar-term">{{sem.term}}:</span>
                    <span class="seminar-title">{{sem.title}}</span>
                    {% if sem.credits %}<span class="seminar-crhr">({{sem.credits}} cr)</span>{% elsif sem.hours %}<span class="seminar-crhr">({{sem.hours}} hr)</span>{% endif %}
                </div>
                <div class="seminar-instcomment">
                    <span class="seminar-inst">{{sem.institution}}</span>{% if sem.comment %}, <span class="seminar-comment">{{sem.comment}}</span>{% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<h2>Service</h2>-->
<div class="service">
<!--    <h2>Dissertation committees</h2>
    <div class="disscomm-wrapper">
        {% for comm in page.dissertationcommittees %}
            <div class="disscomm">
                <div class="disscomm-yearname">
                    <span class="disscomm-year">{{comm.year}}:</span>
                    <span class="disscomm-student">{{comm.student}}</span>,
                    <span class="disscomm-inst">{{comm.institution}}</span>,
                                            <span class=discom-dept>{{comm.department}}</span>
                </div>
                <div class="disscomm-title">
                    Thesis title: <span class="thesis-title">{{comm.thesistitle}}</span>
                </div>
            </div>
        {% endfor %}
    </div>-->
        
    <h2>Bachelor theses and projects</h2>
    <div class="bachelortheses-wrapper">
        {% for bt in page.bachelortheses %}
            <div class="bachelorthesis">
                <div class="bt-yearname">
                    <span class="bt-year">{{bt.year}}:</span>
                    <span class="bt-student">{{bt.student}}</span>,
                    <span class="bt-inst">{{bt.institution}}</span>,
                                            <span class=bt-subject>{{bt.subject}}</span>
                </div>
                <div class="bt-titletopic">
                    {% if bt.thesistitle %}
                        Thesis title: <span class="bt-title">{{bt.thesistitle}}</span>
                    {% elsif bt.topic %}
                        Project topic: <span class="bt-topic">{{bt.topic}}</span>
                    {% endif %}
                </div>
                <div class="bt-myrole">
                    My role: <span class="bt-role">{{bt.myrole}}</span>
                </div>
            </div>
        {% endfor %}
    </div>
        
 <!--   <h2>Conference organization</h2>
    <div class="conforg-wrapper">
        {% for conf in page.conferenceorganization %}
            <div class="conference">
                <div class="conf-yearevent">
                    <span class="conf-year">{% if conf.month %}{{conf.month}}.{% endif %}{{conf.year}}:</span>
                    <span class="conf-event">{{conf.event}}</span>
                </div>
                <div class="conf-myrole">
                    <span class="conf-role">{{conf.myrole}}</span>
                </div>
            </div>
        {% endfor %}
    </div>-->
    
    <h2>Departmental service</h2>
    <div class="deptservice-wrapper">
        {% for svc in page.departmentalservice %}
            <div class="service">
                <span class="service-year">{{svc.year}}:</span>
                <span class="service-note">{{svc.note}}</span>,
                <span class="service-dept">{{svc.department}}</span>,
                <span class="service-inst">{{svc.institution}}</span>
            </div>
        {% endfor %}
    </div>
        
<!--    <h2>Refereeing</h2>
    <div class="refereeing-wrapper">
        <div class="ref-journals">
            <h2>Journals</h2>
            {% for journal in page.journalrefereeing %} 
                <span class="ref-journal">{{journal}}</span>
            {% endfor %}
        </div>
        
        <div class="ref-conferences">
            <h2>Conferences</h2>
            {% for conference in page.conferencerefereeing %} 
                <span class="ref-conference">{{conference}}</span>
            {% endfor %}
        </div>
    </div>
</div>
</div>--> <!-- end of cv-main -->
