<div class="home-page-picture">
    <img alt="Picture of Daniel" class="picture" src="/assets/images/Dan_poster.JPG">
    <div class="info">
        <div class="name">Daniel Rayneau-Kirkhope</div>
        <div class="job">Aalto Science Fellow</div>
        <div class="workplace">
            <a href="http://physics.aalto.fi">Department of Applied Physics</a>
        </div>
        <div class="employer">
            <a href="http://asci.aalto.fi/en/">Aalto University</a>
        </div>
    </div>
</div>